body {
    font-family: 'Oswald', sans-serif;
    background-color: rgba(55, 115, 126, 0.336);
}

#personal:after {
    width: 100%;
}

#personal {
    color: #28221e;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 300;
}